@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgba(164, 76, 76, 0.80);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(202, 91, 91, 0.23);
}

.game__title {
    margin-bottom: 2rem;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.grid__field {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #fff;
    align-content: center;
}

.left__column,
.right__column {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
}

.main__container button {
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #fff;
    font-size: 1.2rem;
    background-color: rgba(202, 91, 91, 0.3);
}
